<div class="login-container">
    <mat-card class="login-card">
        <div class="login-content">
            <div class="left-section">
                <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google"
                    class="google-logo">
                <h1 class="sign-in-title">Sign in</h1>
                <p class="sign-in-subtitle">Use your Google Account</p>
            </div>
            <div class="right-section">
                <form [formGroup]="loginForm" (ngSubmit)="Login()">
                    <!-- Email Field -->
                    <mat-form-field appearance="outline" class="form-field custom-form-field">
                        <mat-label>Email or phone</mat-label>
                        <input matInput formControlName="email" type="email" placeholder="Email or phone">
                        <mat-error *ngIf="email?.hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="email?.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Password Field -->
                    <mat-form-field appearance="outline" class="form-field custom-form-field">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" placeholder="Password">
                        <mat-error *ngIf="password?.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <div class="forgot-password">
                        <a  class="forgot-password" (click)="navigateToForgotPass()" >Forgot password?</a>
                    </div>

                    <div class="guest-mode-text">
                        <p>Not your computer? Use Guest mode to sign in privately. <a href="#">Learn more</a></p>
                    </div>

                    <div class="action-buttons">
                        <a class="create-account" (click)="navigateToRegister()">Create account</a>
                        <button mat-raised-button type="submit" class="NextButton" [disabled]="loginForm.invalid">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>

    <div class="footer">
        <a href="#">Help</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</div>